@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700;800&family=Poppins:wght@200;500;800&family=Roboto:wght@300;500;700;900&display=swap');

.cardContainer {
    font-family: "Manrope";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    font-size: 1.5rem;
    height: 100%;
    width: 96%;
}

.completed{
    /* box-shadow: rgba(9, 255, 0, 0.25) 0px 30px 60px -12px inset, rgba(9, 255, 0, 0.3) 0px 18px 36px -18px inset; */
    /* box-shadow: rgba(0, 255, 38, 0.35) 0px -50px 36px -28px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    box-shadow: rgba(0, 255, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 255, 0, 0.3) 0px 18px 36px -18px inset;
}

.flag{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition-duration: 0.5s;
}

/* .cardContainerBackground {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: opacity(25%)
} */

.backgroundFlag{
    transition-duration: 0.3s;
    filter: opacity(40%) 
}

.inputContainer {
    /* display: none; */
    position: fixed;
    z-index: 1;
    /* display: flex; */
    justify-content: space-around;
    align-items: baseline;
    width: 40%;
    /* transition-duration: 3s; */
}

input:invalid{
    animation: shake 0.5s;
}

.answerInput {
    margin-top: 15px;
    height: 2rem;
    /* transition-duration: 0.3s; */
}

.wrongInput{
    border-color: red;
}

.answerBtn{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.test{
    width: 400px;
    height: 400px;
}

.TestLink{
    font-size: medium;
    color:#fafde592;
    /* color: #fafde5; */
    transition-duration: 0.3s;
  }

.TestLink:hover {
 color: #fafde5;
 /* color: #BFDBEE; */
}

.shakeEffect{
    animation: shake 0.5s; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/* .modal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Manrope";
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #063437;
    overflow-x: scroll;
} */