/* @import url('https://fonts.googleapis.com/css2?family=Cabin&family=Kanit:wght@500&family=Nanum+Gothic+Coding&family=Titan+One&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700;800&family=Roboto:wght@300;500;700;900&display=swap');

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b8c8d9;
  font-family: 'Manrope';
  border: 2px solid ;
  /* font-size: calc(10px + 2vmin); */
  /* font-family: 'Titan one'; */
  /* font-size: xx-large; */
  /* background-color: #063437; */
  /* color: #fafde5; */
}

.HomePage{
  display: flex;
  padding: 5% 5%;
  background-color: #b8c8d9;
  color: #17052c ;
  border: 2px solid #17052c;
  border-radius: 15px;
  max-height: 70vh;
  flex-direction: column;
  /* background-color: #BFDBEE; */
  /* background-color: #DFEDF6; */
  /* border-width: 10px;
  border-color: #17052c;
  border-style: double; */
}

.continent{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}

.continentH1{
  background-color: #17052c;
  color: #b8c8d9;
  font-weight: 800;
  font-size: 2rem;
  border-bottom: 2px solid #17052c;
  border-radius: 4px;
  padding: 1rem 2rem;
  margin-top: 15%;
}

.continentSelect{
  background-color: transparent;
  color: #17052c;
  border: 2px solid #17052c;
  border-radius: 4px;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 1rem 3rem;
  margin: 5% 0;
}

.continentSelect option{
  background-color: #17052c;
  color:#b8c8d9;
}

.continentSelect option:hover{
  background-color: #b8c8d9;
  color: #17052c;
}

.continentBtn{
  background-color: #17052c;
  color: #b8c8d9;
  border: thin solid;
  border-radius: 4px;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 1rem 3rem;
  /* font-size: 20px;
  font-weight: 500;
  padding: 16px 64px; */
  /* margin-top: 5%; */
}

.linkContainer{
  /* display: grid; */
  /* grid-template-rows: 1fr 1fr; */
  /* height: 10vh; */
  margin: 5% 0;
}

.flagPage{
  background-color: #b8c8d9;
  color: #17052c;
  max-height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* background-color: #17052c; */
  /* color: #b8c8d9; */
}

.flagPage h1{
  background-color: #b8c8d9;
  color: #17052c;
  font-weight: 800;
  font-size: 48px;
  border-radius: 4px;
  margin-top: 5%;
  /* margin-top: 50px; */
  /* background-color: #17052c; */
  /* color: #b8c8d9; */
  /* border-bottom: 2px solid #b8c8d9; */
}

.testPageH1{
  margin: 6% 0 2% 0;
}

.flagPage h2{
  margin: 2% 0;
}

.chooseCountryContainer{
  background-color: #b8c8d9;
  width: 100%;
  /* background-color: #17052c; */
}

.flagContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 1rem;
  background-color: #17052c;
  border-top: 10px double #b8c8d9;
  border-bottom: 10px double #b8c8d9;
  border-left: 10px double #b8c8d9;
  border-right: 4px solid #17052c;
  border-radius: 10px;
  padding: 3rem;
  margin: 1% 15rem 5% 15rem;
  height: 45vh;
  overflow: auto;
  /* background-color: #17052c; */
  /* border: 10px double #b8c8d9; */
}

.flags{
  max-width: 300px;
  /* box-shadow: 5px 10px #b8c8d914; */

}

.flagImg{
  max-height: 100%;
  max-width: 100%;
  /* box-shadow: 5px 5px 2px 5px #b8c8d905; */
}

.done{
  border: 7px solid #1ADB5D;
}

.countryInfo{
  color: #b8c8d9;
  font-size: 20px;
  font-weight: 200;
}

.flagTestContainer{
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  gap: 5px;
  color: #b8c8d9;
  font-size: 20px;
  font-weight: 200;
  /* border: 1px solid #b8c8d9;
  border-radius: 4px;
  padding: 5px 0; */
}

.inputContainer input{
  color: #17052c;
  font-size: 15px;
}

.inputButton{
  background-color: transparent;
  color: #b8c8d9;
  border: thin solid #b8c8d9;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
  padding: 3px 64px;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b8c8d9;
  /* border-radius: 4px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #17052c;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #13A446;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
