/* @import url('https://fonts.googleapis.com/css2?family=Cabin&family=Kanit:wght@500&family=Nanum+Gothic+Coding&family=Titan+One&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700;800&family=Poppins:wght@200;500;800&family=Roboto:wght@300;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
}

.App {
  /* font-family: 'Titan one'; */
  /* font-family: 'Kanit'; */
  /* font-family: 'Manrope'; */
  font-family: 'Poppins';
  background-color: #063437;
  /* background-color: burlywood; */
  display: grid;
  place-items: center;
  height: 100dvh;

}

.Page{
  background-color: #063437;
  color: #fafde5;
  /* display: grid;
  place-items: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  width: 90%;
  /* padding: 2%; */
}

.HomePage{
  /* background-color: #BFDBEE; */
  /* background-color: #DFEDF6; */
  /* background-color: #b8c8d9; */
  /* color: #17052c ; */
  overflow: hidden;
}

.Frame{
  border: solid 3px #fafde5;
  border-radius: 10px;
  padding: 5%;
  /* gap: 10px; */
}

.titel{
  font-size: 3em;
  padding-top: 10%;
}

.BtnContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 10% 0;
}

.BtnLink{
  /* color: #063437;
  background: #fafde5; */
  color: #fafde5;
  background: transparent;
  border: solid 2px #fafde5;
  width: 10rem;
  padding: 2%;
  font-family: 'Manrope';
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.BtnLink:hover{
  background-color: #fafde5;
  color: #063437;
}

/* .FlashCardPage{
  padding-top: 5%;
} */

.SelectContinentContainer{
  margin: 5% 0;
}

.flagContainer{
  border: solid 3px #fafde5;
  border-radius: 10px;
  padding: 5%;
  height: 50%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  overflow-y: scroll;
}

select {
  background-color: transparent;
  color: #fafde5;
  border: 2px solid #fafde5;
  border-radius: 4px;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 1rem 3rem;
  margin: 5% 0;
  transition-duration: 0.4s;
}

select:hover{
  background-color: #fafde5;
  color: #063437;
}

select option {
  background-color: #fafde5;
  color: #063437;
}

select option:hover {
  background-color: #063437;
  color: #fafde5;
}

